.text{
   &__secondary{
    font-size: .8rem;
}
&__main{
    padding-left: 6px;
    text-transform: capitalize;
    padding-bottom: 9px;


} 
&__label{
    font-size: .9rem;
    padding-top: 6px;
    text-transform: capitalize;


}

}

