.mb_U_1{margin-bottom: 1rem !important; }
.mb_U_-5{margin-bottom: .5rem !important; }
.mt_U_1{margin-top: 1rem !important; }
.mt_U_2{margin-top: 2rem !important; }
.mtb_U-2{margin: 2rem 0 !important; }
.ml_U_5{margin-left: 5rem !important; }
.pt_U_-2{padding-top: .2rem !important; }
.pt_U_-7{padding-top: .7rem !important; }
.fs--7{    font-size: .7rem !important;}
.fs-1-7{    font-size: 1.7rem !important;}
.mr_07{margin-right: 0.7rem !important}

input , textarea , select{
  font-size: 12px !important;
}
input::placeholder {
    font-size: 12px !important;
  }
.font-12{
  font-size: 12px;
}

.font-14{
  font-size: 14px;
}

